
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Danh sách sản phẩm</h2>
<div class="list-pro">
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Images/balo-mwc.jpg" alt="Balo MWC" title="Balo MWC" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sp: Balo MWC</p>
            <p>Giá: 500.000đ</p>
            <p>Đã bán:?</p>
            <p><input type="submit" value="Mua" class="fm-btnmua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Images/balo-mwc.jpg" alt="Balo MWC" title="Balo MWC" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sp: Balo MWC</p>
            <p>Giá: 500.000đ</p>
            <p>Đã bán:?</p>
            <p><input type="submit" value="Mua" class="fm-btnmua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Images/balo-mwc.jpg" alt="Balo MWC" title="Balo MWC" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sp: Balo MWC</p>
            <p>Giá: 500.000đ</p>
            <p>Đã bán:?</p>
            <p><input type="submit" value="Mua" class="fm-btnmua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Images/balo-mwc.jpg" alt="Balo MWC" title="Balo MWC" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sp: Balo MWC</p>
            <p>Giá: 500.000đ</p>
            <p>Đã bán:?</p>
            <p><input type="submit" value="Mua" class="fm-btnmua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Images/balo-mwc.jpg" alt="Balo MWC" title="Balo MWC" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sp: Balo MWC</p>
            <p>Giá: 500.000đ</p>
            <p>Đã bán:?</p>
            <p><input type="submit" value="Mua" class="fm-btnmua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Images/balo-mwc.jpg" alt="Balo MWC" title="Balo MWC" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sp: Balo MWC</p>
            <p>Giá: 500.000đ</p>
            <p>Đã bán:?</p>
            <p><input type="submit" value="Mua" class="fm-btnmua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Images/balo-mwc.jpg" alt="Balo MWC" title="Balo MWC" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sp: Balo MWC</p>
            <p>Giá: 500.000đ</p>
            <p>Đã bán:?</p>
            <p><input type="submit" value="Mua" class="fm-btnmua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Images/balo-mwc.jpg" alt="Balo MWC" title="Balo MWC" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sp: Balo MWC</p>
            <p>Giá: 500.000đ</p>
            <p>Đã bán:?</p>
            <p><input type="submit" value="Mua" class="fm-btnmua" /></p>
        </div>
    </div>
</div>

